.env
runs/
*/__pycache__/*
# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Existing entries (if any)
# ...
.DS_Store
/src/iterative_prompt_optimization/__pycache__
/examples/binary_classifier/model_cache
/examples/multiclass_classifier/model_cache
/examples/binary_classifier/runs
/examples/multiclass_classifier/runs
/examples/muticlass_classifier/model_cache
